<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The Web Journey</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css" />
<link href="blogstyle.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">The Web Journey</a></h1>
			<p>Jonathan Lau</a></p>
		</div>
		<div id="menu">
			<ul>
				<li><a href="index.html">home</a></li>
				<li><a href="blog.html">blog</a></li>
				<li class="current_page_item"><a href="projects.html">Projects</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="splash" class="container"><span>Here are a few of my projects</span></div>
	<div id="page" class="container">
		<div id="content">
			<div class="post">
				<h2>DebunkMe</h2>
				<h2></h2>
				<h2></h2>
				<h2>Education Consulting</h2>
				<h2></h2>
				<h2></h2>
				<h2>Parent Q&A</h2>
			
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<div>
				<h2>blog posts</h2>
				<ul class="list-style1">
					<li><a href="learning.html">How I got started</a></li>
					<li><a href="tips.html">Beginner's Tips for Web Design and Development</a></li>
				</ul>
			</div>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page --> 
</div>
</body>
</html>
